# ESP-IDF & PlatformIO Build Artifacts
.pio/
/build/
/managed_components/

# Configuration Backups & Variants
sdkconfig*

# Testing & Logs
test/
*.log

# Editor & OS Junk (Clean Repository)
.vscode/
.idea/
.DS_Store
Thumbs.db
*.swp
*~

# Python cache
*.pyc
__pycache__/

# Keil MDK-ARM Ignore
*.uvguix.*
*.uvoptx
*.bak
*.dep
*.o
*.d
*.crf
*.htm
*.lnp
*.sct
*.map
*.axf
*.iex
*.build_log.htm
/firmware_stm32/**/Listings/
/firmware_stm32/**/Objects/
/firmware_stm32/**/RTE/